.bg-ck{
    background-color: #243b4d !important;
}

.bk-ck-light{
    background-color: #d0decb !important;
}

.color-ck{
    color: #d0decb !important;
}

.color-ck-dark{
    color: #243b4d !important;
}

.border-bottom-ck{
    border-bottom: 1px solid #d0decb59 !important;
}